body {
    background-color: darkgreen
}

.mat{
    padding: 5px;
    height: auto;
    width: auto;
    display: flex;
}

.stack{
    margin-left: 10px;
    margin-top: 40px;
    margin-right: 20px;
}

.intervalButton{
    margin: 10px;
    margin-top: 40px;
    height: 50px;
    width: auto;
    background-color: whitesmoke;
    cursor: pointer; 
}

.generateCardButton {
  outline: none;
  background: none;
  padding: 0;
  border: none; 
  cursor: pointer; 
}

.rangeW{
    display: flex;
    flex-direction: column;
    height: 20px;
}

.rangeH{
    margin-top: 25px;
    width: 20px;
}

.cardContainer{
    display: flex;

}

.card {
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 35px;
    background-color: white;
    width: 150px;
    height: 220px;
    border-radius: 2%;
}

.cardTopLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 60px;
}

.cardCenter {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 100px;
}

.cardBottomRight{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: 50px;
    height: 50px;
    font-size: 60px;
    rotate: 180deg;
}